$navbar-stuff-color = #eee
$post-padding = 15px
$standard-shadow = 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)

*
    text-rendering: optimizeLegibility

body
    background: #f6f6f6
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
    padding-left: 0
    padding-right: 0

a
    color: #15a287

    &.clear
        cursor: pointer
        margin: 3px 10px

menu, ol, ul
    padding-left: 20px

.navbar.navbar
    background-color: rgba(0, 150, 136, 0.9)
    border-radius: 0 !important
    box-shadow: $standard-shadow
    margin-bottom: 0

    .brand
        overflow: hidden
        text-overflow: ellipsis
        text-shadow: none

    .nav
        &.pull-right
            margin-right: 0
            max-width: 40%
            overflow: hidden
            height: auto

    .navbar-brand
        color: $navbar-stuff-color
        padding-left: 0
        max-width: 85.5%
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

    .navbar-toggle
        border: 0
        border-color: #333
        display: block !important
        float: left
        margin-right: 2px

        &:focus, &:active
            background-color: inherit

        .icon-bar
            background-color: $navbar-stuff-color
        .navbar-inverse &, .navbar-inverse &:hover
            border-color: transparent

.navbar-default
    background-color: #000
    border-color: #000

.nav-collapse
    clear: none

.md
    text-overflow: ellipsis
    p
        overflow: hidden

.content
    margin: 0 auto
    padding: 0
    overflow-x: hidden
    max-width: 100%

    // for fixed nav
    padding-top: 50px

    // GPU
    -webkit-transform: translateZ(0)
    -moz-transform: translateZ(0)
    -ms-transform: translateZ(0)
    -o-transform: translateZ(0)
    transform: translateZ(0)

.post
    background: #fff
    box-shadow: $standard-shadow
    box-sizing: border-box
    display: block
    font-family: 'Roboto', Helveetica, Arial, sans-serif
    font-size: 13px
    margin: 15px auto
    padding: $post-padding
    vertical-align: top
    width: 768px
    max-width: 100%

    &.gilded .points.label
        background-color: #ed9c28

    h1
        font-size: 16px
    h2
        font-size: 15px
    h3, h4, h5, h6
        font-size: 14px

    img
        display: block
        margin: 0 auto
        max-width: 100%
        width: 100%

    pre
        background-color: rgba(255,255,255,0.1)
        color: #999
        border: none
        font-size: 89%

    .post-image
        // make image look bigger on mobile
        margin-left: - $post-padding
        margin-right: - $post-padding

    .reply
        background-color: #f6f6f6
        padding: 10px 0 0px 5px
        border-left: 2px #ddd solid
        text-overflow: ellipsis
        overflow-x: hidden
        overflow-y: hidden
        .reply
            background-color: #e6e6e6
            .reply
                background-color: #d6d6d6
                .reply
                    background-color: #c6c6c6

        &.op
            & > .author
                a
                    background-color: #06f
                    color: #fff
                    border-radius: 3px
                    padding: 1px 4px

        &.gilded
            border-left: 3px #ed9c28 solid
            & > .label
                background-color: #ed9c28

        blockquote
            font-size: 13px
            margin-bottom: 10px
            p
                margin-right: 10px
                line-height: inherit

    .label
        border-radius: 3px
        margin: -5px 2px 10px 10px
        padding: 0.4em 0.5em 0.35em 0.6em
        font-size: 85%

    .pull-right
        &.label-default
            margin-bottom: 5px
            margin-right: 5px

        &.label-success
            margin-right: -5px

    .replies
        margin: 8px 0 0 0
        .replies
            .replies
                .replies
                    .reply
                        display: none

    .meta
        font-size: 85%
        margin: 8px auto;

    .author
        color: #666

    .close
        display: none

.comments
    background: #555

.comment-image
    font-size: 80%
    text-align: center
    img
        padding-right: 5px

.extra-actions
    color: #666
    font-weight: bold
    font-size: 85%
    li
        text-indent: 0
        a
            padding-left: 15px

.settings-form
    padding: 15px

.no-hover
    pointer-events: none

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
    margin-right: 0

.navbar-fixed-top
    .navbar-inner
        box-shadow: none

    .container
        margin-left: 20px

.fabs
    bottom: 0
    position: fixed
    text-align: center
    width: 100%

    .next-post, .prev-post, .read-post
        cursor: pointer
        box-shadow: $standard-shadow
        display: inline-block
        background: #4AA559
        color: #fff
        border-radius: 75px
        font-weight: bold
        font-size: 17px
        margin: 10px
        padding: 15px

    .prev-post
        margin-right: 5px
    .read-post
        margin-left: 5px
        margin-right: 5px
    .next-post
        margin-left: 5px

#sidebar-wrapper
    background: #f6f6f6

@media (min-width: 768px)
    .navbar
        .navbar-brand
            max-width: 660px

    .next-post, .read-post
        display: none

    .post
        border-radius: 3px
        .post-image
            margin-left: auto
            margin-right: auto
