.wrapper
    margin-left: -250px 
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    &.toggled
        margin-left: 0 
        #sidebar-wrapper
            margin-left: 0 
        #page-content-wrapper
            position: absolute 
            margin-right: -250px 

#sidebar-wrapper
    box-shadow: 0px 0px 7px rgba(100, 100, 100, 0.5) 
    position: fixed 
    left: 0 
    top: 0 
    padding-top: 50px 
    width: 250px 
    height: 100% 
    margin-left: -250px 
    overflow-x: hidden 
    overflow-y: auto 
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
    z-index: 1000 
    hr
        margin-bottom: 0 
        border: 1px #ccc solid 
        border-top: 0 
    p
        &.section
            font-weight: 600 
            padding-top: 12px 
            padding-left: 10px 

#page-content-wrapper
    width: 100% 
    position: absolute 
    padding: 15px 

.sidebar-nav
    width: 250px 
    margin: 0 
    padding: 0 
    list-style: none 
    li
        text-indent: 20px 
        line-height: 40px 
        a
            display: block 
            text-decoration: none 
            color: #666 
            text-overflow: ellipsis 
            max-width: 100% 
            overflow: hidden 
            padding-right: 5px 
            &:hover
                text-decoration: none 
                color: #15a287 
                background: rgba(255, 255, 255, 0.2) 
    & > .sidebar-brand
        height: 65px 
        font-size: 18px 
        line-height: 60px 
        a
            color: #999999 
            &:hover
                color: #fff 
                background: none 

.sidebar-nav li a:active,
.sidebar-nav li a:focus
    text-decoration: none 
